# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
*.egg

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log
.env

# Node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#Claude 
*.claude
Claude.md

.DS_Store
